header {
    position: fixed;
    z-index:9999;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}

header nav a {
    margin-right: 24px;
    color: #ccc;
    font-weight: 300;
}

header nav a.logo {
    font-family: 'Changa One', sans-serif;
    font-size: 24px;
    color:#d9534f;
    padding-left: 44px;
    margin-left: 6px;
    line-height: 50px;
    display: inline-block;
    background-image: url('../images/fd-cpr-logo-sm.png');
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: left;
}

.circle {
    width:160px;
    height:160px;
    border-radius:160px;
    line-height:160px;
    text-align:center;
    display:inline-block;
    margin: 32px;
}

.circle.sm {
    width:64px;
    height:64px;
    border-radius:64px;
    line-height:64px;
}

.circle.center {
    margin:auto auto;
}

.circle-dark {
    background-color: #333333;
    background-color:rgba(51, 51, 51, 0.6);
}

.circle-light {
    background-color:#cccccc;
}

.circle-blue {
    background-color:#428bca;
}

.circle>img {
    vertical-align:middle;
    opacity: 1;
}

section {
    padding-top: 32px;
    padding-bottom: 48px;
    background-color: #272b30;
}

header + section {
    margin-top: 72px;
}

section.intro {
    margin-top: 72px;
    padding-top: 0;
    background-color: transparent;
}

body.with-header-logo {
    background-image: url('../images/header-bg.jpg');
    /*background-attachment: fixed;*/
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.media-object {
    max-width: 128px;
}

section.about, section.alternate-bg {
    background-color: #bbb;
    color: #222;
}

h1 {
    font-family: 'Changa One', sans-serif;
    text-shadow: none;
    padding-bottom: 4px;
    border-bottom: 1px dashed #444;
}

section.about h1 {
    border-bottom: 1px dashed #999;
    text-align: center;
}

section .leader {
    float: left;
    margin: 12px;
    max-width: 72px;
    font-size: 60px;
    color:#d9534f;
}

section.video h1, section.science h1, section.about h1 {
    text-align: center;
}

section.video img {
    display: block;
    margin: auto auto;
}

section.science {
    background-color: #888;
}

section.science .inner {
    background-color:#272b30;
    padding-bottom: 8px;
}

section.spacer {
    min-height: 400px;
}

.logo-col {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 12px;
    background-color: #888;
}

footer .container {
    padding-top: 96px;
    padding-bottom: 32px;
}

p.copyright {
}

.share-toolbar {
    margin-top: 12px;
    text-align: center;
}

.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.btn-googleplus {
    background: #e93f2e;
    border-radius: 0;
    color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}
.btn-stumbleupon {
    background: #f74425;
    border-radius: 0;
    color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
    color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
    background: #c7371e;
    color: #fff
}
.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}
